<form class ="form" [formGroup]="requestCodeForm" (ngSubmit)="onSubmit()">
  <section class ="group-email">
    <label class="label-email" id="label-email" >
      Correo Electronico
    </label>
    <input
      pInputText
      id="email"
      formControlName="email"
      placeholder="tu@email.com"
      autocomplete="email"
      type="email"
    >
  </section>

  <p-button
    class="btn-send"
    label="Solicitar código"
    type="submit"
    [disabled]="requestCodeForm.invalid"
    [loading]="requestCodeStore.isLoading()"
  ></p-button>
</form>
