.form{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.group-email{
  display: flex;
  flex-direction: column;
  gap:12px;

}
.btn-send{
  display: flex;
  margin-top: auto;
  justify-content: center;
}
