<div class="client-card" (click)="onSelectClient()">
  <div class="card-header">
    @if (isLoading) {
      <div class="image-loading">
        <div class="loading-spinner"></div>
      </div>
    }
    @else if (imageUrl) {
      <img [src]="imageUrl" alt="Client Banner" class="card-image">
    }
    @else {
      <div class="no-image">
        <i class="pi pi-building text-2xl text-gray-400"></i>
      </div>
    }
  </div>
  <div class="card-content">
    <h3 class="card-title">{{ client.name }}</h3>
    <p class="card-subtitle">Cliente</p>
  </div>
</div>
