<div class="card flex justify-center">
  <p-drawer [(visible)]="visible" header="Filtros avanzados" position="right">
    <section class="main-drawer">
      <p>Tipos de cabinetes:</p>
      <p-multi-select
        [options]="equipmentSearchStore.cabinetsTypes()"
        [(ngModel)]="selectedCabinetTypes"
        optionLabel="code"
        placeholder="Seleccione tipos de cabinetes"
        [maxSelectedLabels]="5"
        display="chip"
        class="select-filter"
      />
      <section class="group-btn">
        <p-button class="btnLimpiarFiltros" label="Limpiar filtros" (click)="clearFilters()" icon="pi pi-times"/>
        <p-button class="btnAplicarFiltros" label="Aplicar filtros" (click)="applyFilters()" icon="pi pi-check" />
      </section>
    </section>
  </p-drawer>
  <p-button (click)="visible = true" icon="pi pi-filter" />
</div>
