.verify-code-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background-image: url('../../../../../public/background-login.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .verify-code-form {
    display: flex;
    flex-direction: column;
    height: 35%;
    padding: 24px;
    background: white;
    border-radius: 10px 10px 0 0;
    animation: slideUp 0.3s ease-out;

    .form {
      height: 100%;
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
